# AWS — must allow CloudFormation, S3, CloudFront, ACM in us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1

# Porkbun — manages DNS for paweldregan.com
PORKBUN_API_KEY=
PORKBUN_SECRET_KEY=
